@import "tailwindcss";

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.game-container {
    @apply h-full flex flex-col select-none;
    @apply justify-center items-center;
    @apply bg-zinc-900 text-zinc-200;
}
.game-frame {
    @apply min-w-96 relative;
    @apply rounded-md;
    @apply border-8 border-amber-600;
}

.words {
    margin: 0 auto;
    padding: 80px 0px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -2px;
    text-transform: uppercase;
    transform: translate3d(0, 0, 0);
    display: inline-block;
}

.words > li {
    height: 50px;
    position: relative;
}
.words > li:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.66667);
}
.words > li:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.33333);
}
.words > li:nth-child(1) {
    top: -30px;
    left: 0px;
}
.words > li:nth-child(2) {
    top: -40px;
    left: 25px;
}
.words > li:nth-child(3) {
    top: -50px;
    left: 50px;
}
.words > li:nth-child(4) {
    top: -10px;
    left: 70px;
    text-transform: none;
}

.words > li p,
.words > li button {
    height: 50px;
    line-height: 45px;
    padding: 0 10px;
    transform: translate3d(0, 0, 0);
    vertical-align: top;
    white-space: nowrap;
}

.start-button {
    @apply bg-amber-600;
    @apply cursor-pointer disabled:opacity-20;
    transition: 0.25s ease-in-out;
}
.start-button:not(:disabled):hover {
    opacity: 0.65;
}

.score-container {
    @apply flex flex-row relative;
}
.score-container .score {
    @apply p-0! absolute;
    @apply sm:left-full sm:top-0 left-3 top-full;
}

.logo-container {
    @apply absolute;
    @apply top-2 right-2 sm:-top-5 sm:-right-5;
}
.logo {
    @apply w-16 h-16 sm:w-20 sm:h-20;
    @apply cursor-pointer;
    transition: 0.25s ease-in-out;
}
.logo:hover {
    transform: rotate(5deg);
}

.sprite-container {
    @apply flex justify-center;
}

.game-control {
    @apply flex flex-row;
}
.game-control > button {
    @apply w-full py-3;
    @apply text-amber-600 font-bold;
    @apply flex justify-center items-center;
    @apply border-t-4 border-amber-600;
    @apply cursor-pointer;
    @apply disabled:opacity-0 disabled:pointer-events-none;
}
.game-control > button:hover {
    @apply bg-amber-950;
}
.game-control > button:nth-child(1) {
    @apply border-r-4;
}
